<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop</title>
</head>

<body>
    <div id="app">
        <header>
            <goods-search :search="searchLine"></goods-search>
            <button class="cart-button" type="button" v-on:click="visibleCart">Корзина</button>
        </header>
        <main>
            <ul v-if="isVisibleCart">
                <li v-for="good of cart">{{good.product_name}}__${{good.price}}</li>
            </ul>
            <goods-list :goods="filteredGoods"></goods-list>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="goods-list.js"></script>
    <script src="goods-search.js"></script>
    <script src="script.js"></script>
</body>

</html>