.b-heading {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 667px) {
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__left {
        a {
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: $colorPink;
            text-decoration: none;
        }
    }

    &__right {
        a {
            text-decoration: none;
            @include kitProp(#636363, 300);

            &:hover {
                color: $colorPink;
            }
        }
    }
}


.b-heading__right_disabled {
    display: none;
}

.b-heading__shopping_padding {
    @media (max-width: 667px) {
        padding-top: 50px;
        height: auto;
        display: block;
        text-align: center;
    }
}