.b-menu {
    display: flex;
    justify-content: space-between;
    padding: 18px 16px 19px;

    @media (max-width: 667px) {
        padding: 18px 0 19px;
    }

    &__left {
        display: flex;
        align-items: end;
        justify-content: space-between;
        width: 111px;

        .goods-search {
            align-self: center;
            margin-left: 20px;
            margin-right: 5px;
        }

        .search-button {
            background-color: #222222;
            border: none;
        }
    }

    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 189px;

        @media (max-width: 667px) {
            width: 32px;
        }

        a {
            &:nth-child(2) {

                @media (max-width: 667px) {
                    display: none;
                }
            }
        }

        &Cart {
            position: relative;

            @media (max-width: 667px) {
                display: none;
            }

            img {
                height: 29px;
                width: 32px;
                cursor: pointer;
            }
        }
    }

    &__quantityCart {
        position: absolute;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        top: 17px;
        right: 99px;
        border-radius: 50%;
        padding: 3px 6px;
        top: -5px;
        right: -15px;
    }

    &__cart {
        position: absolute;
        background: white;
        width: 550px;
        right: 0;
        top: 35px;
        padding: 10px;
        line-height: 30px;
        color: #6F6E6E;
        font-size: 16px;
        font-weight: 300;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        z-index: 1;
        display: none;

        &Wrap {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            font-weight: 700;
        }

        &Item {
            display: flex;
            justify-content: space-between;
            border-bottom: 0.5px solid #6F6E6E;

            .productClose {
                height: 16px;
                width: 16px;
                align-self: center;
                cursor: pointer;
            }
        }
    }

    &__cart_active {
        display: block;
    }
}