.b-sizePop {
    padding: 7px 9.5px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 79px;
    height: 103px;
    box-sizing: border-box;

    &__item {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: #6F6E6E;
    }

    input {
        margin-right: 9.5px;
        margin-bottom: 10px;
        border: 1px solid #EBEBEB;
    }
}

.b-nav__sizePop {
    position: absolute;
    z-index: 1;
    display: none;
}